*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
.bg-top{
    width: 100%;
    height: 100vh;
    background: rgba(37, 42, 52, 0.70);
}
.bg-image1{
    background-image: url('../images/1.png');
    width: 720px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: bottom;
}
.hero-heading1{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}
.hero-heading2{
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    text-transform: capitalize;
}
.hero-heading3{
    color: #EEE;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-heading4{
    display: flex;
    height: 45px;
    width: 100%;
    justify-content: center;
    column-gap: 15px;
}
.hero-heading4-btn1 button{
    display: inline-flex;
    justify-content: center;
    padding: 15px 25px;
    align-items: center;
    color: #FFF;
    background: #219D80;
    border: none;
}
.hero-heading4-btn1{
    width: 28%;
}
.hero-heading4-btn1 button:hover {
    background: transparent;
    border: 2px solid #219D80;
}
.hero-heading4-btn1 button:hover{
    display: inline-flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid #219D80;
    background-color: transparent;
    height: 44px;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}
.hero-heading4-btn2 button{
    display: inline-flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid #219D80;
    background-color: transparent;
    height: 44px;

}
.hero-heading4-btn2 button:hover{
    display: inline-flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid #219D80;
    background-color: #219D80;
    color: #FFF;
    height: 44px;
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}
.bg-image1-center{
    position: absolute;
    top: 0;
    left: 28%;
    top: 33%;
}
.home-part-2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.home-part-3{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.home-part-4{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;

}
.home-part4-center{
    width: 80%;

}
.home-heading1{
    color: #252A34;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 155.556% */
    text-transform: capitalize;
    position: relative;

}

.home-heading1 p:before{
    content: '';
    display: block;
    width: 90px;
    height: 2px;
    background-color: #252A34;
    left: 131px;
    top: 48%;
    position: absolute;
}
.home-heading2{
    color: #252A34;
    font-family: Playfair Display;
    font-size: 23.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px;
    text-transform: capitalize;
    height: 15vh;
}
.home-part-4-slider{
    width: 100%;
    height: 75vh;
}
.card1{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.footer{
    width: 100%;
    height: 60vh;
}
.home-part-5-slider{
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
}
.scrolltop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 10px;
    background-color: transparent;
    color: #219D80;
    border-radius: 50px;
    font-size: 20px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #219D80;
    box-shadow: 0 0 15px #219D80;
    text-shadow: 0 0 5px #219D80;

}
.backtotop button :active{
    pointer-events: auto;
    opacity: 1;
    bottom: 32px;
}
.scrolltop:hover{
    color: #219D80;
    box-shadow: 0 0 15px #219D80;
    text-shadow: 0 0 5px #219D80;
    transition: 0.3s all ease-in-out;
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #219D80;
    cursor: pointer;
}