.blog-main{
    height: 50vh;
    width: 100%;
    background: rgba(37, 42, 52, 0.70);
}
.blog-left{
    width: 720px;
    height: 50VH;
    background-image: url(../images/1.png);
}
.blog-part1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.blog-part1-center{
    width: 80%;
    height: 20vh;
    display: flex;
    align-items: center;
}
.blog-heading1{
    color: #252A34;
    font-family: Playfair Display;
    font-size: 23.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px;
    text-transform: capitalize;
}
.blog-part2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.blog-part2-main{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.blog-part2-left{
    width: 60%;
    display: flex;
}
.blog-img1{
    width: 642px;
    height: 298.5px;
    background-image: url(../images/10.jpg);
    background-position: center;
    background-size: cover;
}
.blog-img1-icons{
    width: 57%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-img-icons-1{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.blog-icons-1-profile{
    width: 20.5px;
    font-size: 15px;
    color: #888;
}
.blog-icons-1-profilename{
    color: #888;
    font-family: Montserrat;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 171.429% */
    text-transform: capitalize;
}
.blog-img-icons-2{
    width: 26%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.blog-img-icons-3{
    width: 35%;
    height: 10vh;
    display: flex;
    align-items: center;
}
.blog-part2-column3{
    width: 100%;
    height: 15vh;
    color: #000;
    font-family: Playfair Display;
    font-size: 17.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.75px; /* 132% */
    text-transform: capitalize;
}
.blog-part2-column4{
    width: 100%;
    height: 15vh;
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    text-transform: capitalize;
}

.blog-part2-column5{
    width: 100%;
    height: 15vh;
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    text-transform: capitalize;
}
.blog-part2-column6{
    width: 100%;
    height: 13vh;
    color: #000;
    font-family: Playfair Display;
    font-size: 17.75px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    line-height: 24.75px;
    text-transform: capitalize;
    align-items: center;
}
.blog-part2-column7{
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    height: 8vh;
    text-transform: capitalize;
}
.blog-part2-column8{
    width: 100%;
    height: 20vh;
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    text-transform: capitalize;
}
.blog-part2-column9{
    width: 100%;
    height: 50vh;
    background-image: url(../images/11.jpg);
    background-position: center;
    background-size: cover;
}
.blog-part2-column10{
    width: 100%;
    height: 8vh;
    color: #000;
    font-family: Playfair Display;
    font-size: 17.75px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    line-height: 24.75px;
    text-transform: capitalize;
    align-items: end;
}
.blog-part2-column11{
    color: #666;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    height: 10vh;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}




.blog-part2-right{
    width: 35%;    
}
.blog-part2-right-center{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.blog-right-box1{
    width: 312px;
    height: 299.25px;
    flex-shrink: 0;
    background: #EDF7F5;
    display: flex;
    justify-content: center;
}
.blog-right-center{
    width: 90%;
}
.blog-right-column1{
    height: 15vh;
    display: flex;
    width: 100%;
    align-items: center;
    color: #000;
    font-family: Playfair Display;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.75px; /* 132% */
    text-transform: capitalize;
}
.blog-right-column2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    border-top: 1px solid #e3e3e3;
    align-items: center;
}
.blog-right-column3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6vh;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    align-items: center;
}
.blog-right-column2-left{
    color: #252A34;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 140% */
    text-transform: capitalize;
    border-top: 1px black;
}
.blog-right-box2{
    width: 312px;
    height: 413.25px;
    flex-shrink: 0;
    background: #EDF7F5;
    display: flex;
    justify-content: center;
}
.blog-box2-center{
    width: 90%;
    height:    auto;
}
.blog-box2-column1{
    height: 15vh;
    display: flex;
    width: 100%;
    align-items: center;
    color: #000;
    font-family: Playfair Display;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.75px;
    text-transform: capitalize;
}
.blog-box2-column2{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
}
.blog-box2-column2-center{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blog-box2-img{
    width: 112.5px;
    height: 82.5px;
    background-color: gray ;
}
.blog-box2-text{
    width: 55%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.blog-box2-text1{
    color: #252A34;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    height: 8vh;
    font-weight: 700;
    line-height: 21px; /* 140% */
    text-transform: capitalize;
}
.blog-box2-text2{
    color: #252A34;
    font-family: Montserrat;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 142.857% */
    text-transform: capitalize;
}
.blog-right-box3{
    width: 312px;
    height: 192px;
    flex-shrink: 0;
    background: #EDF7F5;
    display: flex;
    justify-content: center;
}
.blog-box3-center{
    width: 90%;
    background: #EDF7F5;
}
.blog-box3-text1{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    color: #000;
    font-family: Playfair Display;
    font-size: 18.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.75px; /* 132% */
    text-transform: capitalize;

}
.blog-box3-text2{
    width: 100%;
    display: flex;
    height: 16vh;
    column-gap: 10px;
    align-items: end;
    flex-wrap: wrap;
}
.blog-box3-text2 button{
    width: auto;
    height: 5.5vh;
    background: #219D80;
    border: none;
    padding: 0px 15px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 142.857% */
    text-transform: capitalize;
}
.blog-box3-text2 button :hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

.blog-box3-text2 button:hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    background-color: transparent;
    border: 1px solid #219D80;
    color: #219D80;
    height: 30px;

}