*{
    margin: 0%;
    padding: 0%;
}
.image-component{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.image-component-center{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
